.col-lg-7 {

    width: 60.33333333%;

}

.col-lg-5 {

    width: 39.66666667%;

}
.btn-primary {
    color: #fff;
    background:transparent;
    border-color: #007bff;
}

a:hover{
    background:#007bff linear-gradient(180deg,#258efe,#007bff) repeat-x;
}