<!-- BreadCrumb -->
<nav aria-label="breadcrumb" role="navigation">
    <ol class="breadcrumb adminx-page-breadcrumb">
        <li class="breadcrumb-item"><a href="#">Administration</a></li>
        <li class="breadcrumb-item active" aria-current="page">Change User Password</li>
    </ol>
</nav>

<div class="pb-3">
    <h1>Change User Password</h1>
</div>
<div *mobxAutorun class="row">
        <ngx-spinner 
        bdOpacity = 0.9
        bdColor = "rgba(182,217,216,0.42)"
        size = "medium"
        color = "#48567c"
        type = "ball-running-dots"
        [fullScreen] = "true">
    </ngx-spinner>    
    <div class="col-lg-5">
            <alert></alert>
        <div class="card mb-grid">
            <div class="card-header d-flex justify-content-between align-items-center">
                <div class="card-header-title">Change User Password</div>

                <nav class="card-header-actions">
                    <a class="card-header-action" data-toggle="collapse" href="#card1" aria-expanded="false" aria-controls="card1">
                    <i-feather name="minus-circle"></i-feather>
                    </a>
                </nav>
            </div>
        <div class="card-body collapse show" id="card1">
            <form [formGroup]="changeUserPasswordForm">
                <div class="form-group">
                    <label class="form-label" for="exampleInputEmail">Email</label>
                    <input type="text" formControlName="email" class="form-control" aria-describedby="Email" placeholder="Enter Email Address">                
                </div>
                <div class="form-group">
                    <label class="form-label" for="firstname">New Password</label>
                    <input type="password" formControlName="newpassword" class="form-control" aria-describedby="firstName" placeholder="Enter New Password">                
                </div>
                <div class="form-group">
                    <label class="form-label" for="lastname">Confirm New Password</label>
                    <input type="password" formControlName="confirmnewpassword" class="form-control" aria-describedby="lastName" placeholder="Confirm New Password">                
                </div>
                <button [disabled]="!changeUserPasswordForm.valid" (click)="changeUserPassword()"  class="btn btn-success">Change Password</button>
            </form>
            </div>
        </div>
    </div>    
</div>