.card{
    width: 100%;
}
.awaiting-mail{
    background-color:darkkhaki;
}
.completed{
    background-color:yellowgreen;
}
.returned{
    background-color: goldenrod;
}
.expandable{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}