
    <!-- BreadCrumb -->
    <nav aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb adminx-page-breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Activity</li>
        </ol>
    </nav>

    <div class="pb-3">
        <h1>Activity</h1>
    </div>

    <div *mobxAutorun class="row">        
        <div class="col-md-6 col-lg-3 d-flex">
            <div class="card border-0 bg-primary text-white text-center mb-grid w-100">
                <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                    <i data-feather="users"></i>
                    </div>
                    <div class="card-body">
                    <div class="card-info-title">Total Submitted</div>
                    <h3 class="card-title mb-0">
                        {{reportFacade.getSubmittedTransactions}}
                    </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex">
            <div class="card border-0 bg-warning text-white text-center mb-grid w-100">
                <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                    <i data-feather="users"></i>
                    </div>
                    <div class="card-body">
                    <div class="card-info-title">Total Processing</div>
                    <h3 class="card-title mb-0">
                        {{reportFacade.getTransactionsBeingProcessed}}
                    </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex">
            <div class="awaiting-mail card border-0  text-white text-center mb-grid w-100">
                <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                    <i data-feather="users"></i>
                    </div>
                    <div class="card-body">
                    <div class="card-info-title">Total Awaiting Mail</div>
                    <h3 class="card-title mb-0">
                        {{reportFacade.getTransactionsAwaitingMail}}
                    </h3>
                    </div>
                </div>
            </div>
        </div>       
        <div class="col-md-6 col-lg-3 d-flex">
                <div class="card border-0 bg-danger text-white text-center mb-grid w-100">
                <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                    <i data-feather="users"></i>
                    </div>
                    <div class="card-body">
                    <div class="card-info-title">Total Rejected</div>
                    <h3 class="card-title mb-0">
                        {{reportFacade.getRejectedTransactions}}
                    </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex">
            <div class="completed card border-0 text-white text-center mb-grid w-100">
            <div class="d-flex flex-row align-items-center h-100">
                <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                <i data-feather="users"></i>
                </div>
                <div class="card-body">
                <div class="card-info-title">Total Completed</div>
                <h3 class="card-title mb-0">
                    {{reportFacade.getCompletedTransactions}}
                </h3>
                </div>
            </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3 d-flex">
            <div class="card border-0 bg-success text-white text-center mb-grid w-100">
                <div class="d-flex flex-row align-items-center h-100">
                    <div class="card-icon d-flex align-items-center h-100 justify-content-center">
                    <i data-feather="users"></i>
                    </div>
                    <div class="card-body">
                    <div class="card-info-title">Total Returned</div>
                    <h3 class="card-title mb-0">
                        {{reportFacade.getReturnedTransactions}}
                    </h3>
                    </div>
                </div>
            </div>
        </div>        
    </div>
            
    <div *mobxAutorun class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="card-header-title">Activity</div>

                    <nav class="card-header-actions">
                        <a class="card-header-action" data-toggle="collapse" href="#card1" aria-expanded="false" aria-controls="card1">
                            <i-feather name="minus-circle"></i-feather>
                        </a>

                        <a href="#" class="card-header-action">
                            <i-feather name="x-circle"></i-feather>
                        </a>
                    </nav>
                </div>
                <div *ngIf="operationsFacade.getTransactionList.length !== 0; else transactionActivityReportElseBlock"  class="card-body collapse show" id="card1">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="card-header-title">{{transactionStatus}}&nbsp;&nbsp;Transactions</div>
                        <button class="btn btn-primary" (click)="tellerSubmittedTransaction()" >Submitted</button>
                        <button class="btn btn-warning" (click)="tellerProcessingTransactions()" >Processing</button>
                        <button class="awaiting-mail btn" (click)="tellerAwaitingMailTransactions()" >Awaiting Mail</button>
                    </div>
                    <table class="table table-striped mb-0">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Worked on by</th>
                            <th scope="col">Status</th>
                            <!-- <th scope="col">Count</th> -->
                            <th scope="col">Plate Number</th>
                            <th scope="col">Amount Processed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let activity of reportFacade.transactionActivity | paginate: { itemsPerPage: 10, currentPage: p }; let i = index;" >
                                <td>{{i + 1}}</td>
                                <td>{{activity.tellerFullName}}</td>
                                <td>{{activity.status}}</td>
                                <!-- <td>{{activity.count}}</td> -->
                                <td>{{activity.platenumber}}</td>
                                <td>{{activity.amountProcessed}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                <ng-template #transactionActivityReportElseBlock>
                    <h3 class="card mb-grid text-center"><b><em>Work has not started today</em></b></h3>
                </ng-template>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <div class="card-header-title">Quick View</div>

                    <nav class="card-header-actions">
                        <a class="card-header-action" data-toggle="collapse" href="#card2" aria-expanded="false" aria-controls="card2">
                            <i-feather name="minus-circle"></i-feather>
                        </a>

                        <a href="#" class="card-header-action">
                            <i-feather name="x-circle"></i-feather>
                        </a>
                    </nav>
                </div>
                <div *ngIf="reportFacade.getTransactionsInRange.length != 0; else transactionAnalysisElseBlock" class="card-body collapse show" id="card2">
                    <form [formGroup]="quickViewForm">
                        <div class="input-group"> 
                            <button class="btn btn-outline-info calendar" (click)="dTo.toggle()" type="button">Select a Date</button>
                            <input class="form-control" placeholder="yyyy-mm-dd" style="width: 40%;"
                                    name="dp" formControlName="dateTo" ngbDatepicker #dTo="ngbDatepicker">
                            <button (click)="retrieveAnalysis()" class="btn btn-info">Retrieve</button>
                            <div class="input-group-append">
                            
                            </div>
                        </div>
                    </form>
                    
                </div>
                <ng-template #transactionAnalysisElseBlock>
                    <h3 class="card mb-grid text-center"><b><em>No analysis spooled</em></b></h3>
                </ng-template>
            </div>
        </div>
    </div>