 <!-- Sidebar -->
 <div class="adminx-sidebar expand-hover push">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a [routerLink]="['/auth/login']" class="sidebar-nav-link" style="color: red">
                <span class="sidebar-nav-icon">
                <i-feather name="LogIn">
                    Log In
                </i-feather>
                </span>
                <span class="sidebar-nav-name">
                Log In
                </span>
                <span class="sidebar-nav-end">

                </span>
            </a>
        </li>
    </ul>
  </div><!-- Sidebar End -->