<div *mobxAutorun>
    <div class="card-header d-flex justify-content-between align-items-center">        
        <label class="bg-info" style="color: white; width: 100%;"><b><em>Submitted:&nbsp;56</em></b></label>&nbsp;&nbsp;
        <label class="bg-warning" style="color: blue; width: 100%;"><b><em>Processing:&nbsp;56</em></b></label>&nbsp;&nbsp;
        <label class="awaiting-mail label" style="color: red;  width: 100%;"><b><em>Awaiting-Mail:&nbsp;56</em></b></label>&nbsp;&nbsp;
        <label class="bg-danger" style="color: yellow;  width: 100%;"><b><em>Rejected:&nbsp;56</em></b></label>
    </div>    
</div>